<% provide(:title, 'Home') %>
<!DOCTYPE html>
<div class="center hero-unit">
  <h1>Welcome to Twitter for Trolls!</h1>

  <h2>
   Excited to hang out this guy?
  </h2>

  <%= link_to "Start trollin'", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("trollface.jpg", alt: "trollface"), 'https://www.youtube.com/watch?v=Ros73m7xBRA' %>
